# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vcxproj
*.filters

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.db
*.db-shm
*.opensdf
*.sdf
*.cachefile

#Visual Studio files
.vs/KyssaDmitry_DJ2203_cpp_project/v16/

#Debug files
Debug/